<a href="/contacts"><button class="link-button" >Home</button></a>
<% if session[:error] %>
  <% errors = session.delete(:error) %>
    <ul class="error">
      <% errors.each do |error| %>
        <li ><%= error %></li>  
      <% end %>
    </ul>
<%end%>

<p class="single-line-text">Creating a new contact</p>

<form action="/contacts/new" method="post">
  <dl >
    <dt class="form"><label name="first_name">First Name</label></dt><!--
    --><dd class="form"><input type="text" placeholder="Firstname" name="first_name" value="<%=params[:first_name]%>"></dd>
  </dl>

  <dl>
    <dt class="form"><label name="last_name">Last Name</label></dt><!--
    --><dd class="form"><input type="text" placeholder="Lastname" name="last_name" value="<%=params[:last_name]%>"></dd>
  </dl>

  <dl>
    <dt class="form"><label name="email">Email</label></dt><!--
    --><dd class="form"><input type="email" placeholder="email@example.com" name="email" value="<%=params[:email]%>" ></dd>
  </dl>

  <dl>
    <dt class="form"><label name="phone">Phone Number</label></dt><!--
    --><dd class="form"><input type="tel" placeholder="123-456-7890" name="phone" value="<%=params[:phone]%>" ></dd>
  </dl>

  <dl id="form-radios">
      <dt class="form-radio"><label for="category">Friends</label></dt>
      <dd class="form-radio"><input type="radio" name="category" value="friends"></dd>
    
      <dt class="form-radio"><label for="category">Family</label></dt>
      <dd class="form-radio"><input type="radio" name="category" value="family"></dd>
    
      <dt class="form-radio"><label for="category">Work</label></dt>
      <dd class="form-radio"><input type="radio" name="category" value="work"></dd>
    </dl>
  <button class="submits-form" type=submit>Submit</button>
</form>